.navBar {
  margin-bottom: 10px;
  background-color: #124884 !important;
}

.mobileBar {
  display: none !important;
  background-color: rgb(18, 72, 132) !important;
}

.sideBar {
  margin: 0 !important;
  border-radius: 0 !important;
  padding-top: 6rem !important;
}

.addFormContainer {
  margin-left: 20%;
  margin-right: 20%;
}

.addFormHeader {
  text-align: center;
}

.addFormCard {
  padding: 20px;
  margin-bottom: 20px;
}

.editFormCol {
  background-color: #E5F0FE;
  padding: 1rem 0rem;
  margin: 2rem 0rem;
  border-radius: 2rem;
}

.editFormCard {
  border-radius: 1rem;
  background-color: #E5F0FE;
}

.main {
  min-height: calc(100vh - 205px);
}

@media screen and (max-width: 750px) {
  .navBar {
    display: none !important;
  }

  .mobileBar {
    display: block !important;
    margin: 0 !important;
    border-radius: 0 !important;
    background-color: rgb(18, 72, 132) !important;
  }

  .sideBar {
    display: block !important;
    margin: 0 !important;
    border-radius: 0 !important;
    padding-top: 6rem !important;
    margin-left: -1rem !important;
  }

}