.navBar {
  margin-bottom: 10px;
  background-color: #124884 !important;
}

.mobileBar {
  display: none !important;
  background-color: rgb(18, 72, 132) !important;
}

.sideBar {
  margin: 0 !important;
  border-radius: 0 !important;
  padding-top: 6rem !important;
}

.title {
  background-color: #E5F0FE;
  padding: 1rem 0;
  margin: 2rem 0;
  border-radius: 2rem;
  text-align: center;
}
.centerEntire {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}

.centerText {
  text-align: center;
}
.cardStyle {
  background-color: #E5F0FE;
  padding: 1rem 0;
  margin: 2rem 0;
  border-radius: 2rem;
}
.addbutton {
  color: white;
  background-color: #DB2828;
  margin: 2rem 0;
}

.main {
  min-height: calc(100vh - 165px);
}

@media screen and (max-width: 750px) {
  .navBar {
    display: none !important;
  }

  .mobileBar {
    display: block !important;
    margin: 0 !important;
    border-radius: 0 !important;
    background-color: rgb(18, 72, 132) !important;
  }

  .sideBar {
    display: block !important;
    margin: 0 !important;
    border-radius: 0 !important;
    padding-top: 6rem !important;
    margin-left: -1rem !important;
  }

}